<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bric</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/custom.css">-->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container-fluid">
    <div id="navBar" class="row">
        <div class="col-md-2">
            <img id="logo" src="/images/logo.png"/>
        </div>
        <div class="col-xs-offset-6 col-sm-offset-8 col-md-offset-10 ">
            <a href="/login" class="btn btn-link middle">Login</a>
            <a href="/register" class="btn btn-link middle">Register</a>
        </div>
    </div>
    <img id="bgPicture" src="/images/main_bg.jpg"/>
    <div class="row">
        <div id="pictureUpload" class="col-xs-12 col-sm-12 col-md-12">

        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>