<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bric</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/custom.css">-->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container-fluid">
    <div id="navBar" class="row">
        <div class="col-md-2">
            <img id="logo" src="/images/logo.png"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 yesMarginY">
            <img style="width: 200px; height: 200px" src="/images/placeholder.png"/>
        </div>
        <div class="col-md-9 yesMarginY">
            <div class="row">
                <div class="col-md-3">
                    <label>First Name: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="firstname" name="firstname" value="Yat Sze" class="form-control"/>
                </div>
            </div>
            <div class="row yesMarginY">
                <div class="col-md-3">
                    <label>Last name:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="lastname" name="lastname" value="So" class="form-control"/>
                </div>
            </div>
            <div class="row yesMarginY">
                <div class="col-md-3">
                    <label>Email:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="email" name="email" value="staceysze@gmail.com" class="form-control"/>
                </div>
            </div>
            <div class="row yesMarginY">
                <div class="col-md-3">
                    <label>Phone:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="phone" name="phone" value="(917) 499-6223" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Video Links Starts here!-->
<div class="container">
    <div class="row yesMarginY">
        <div class="col-md-4 alignCenter yesMarginY">
            <label>Name</label>
        </div>
        <div class="col-md-3 alignCenter yesMarginY">
            <label>Date</label>
        </div>
        <div class="col-md-3 alignCenter yesMarginY">
            <label>Time</label>
        </div>
        <div class="col-md-2 alignCenter yesMarginY">
            <label>Status</label>
        </div>
    </div>

    <div class="row yesMarginTop">
        <div class="col-md-4 alignCenter">
            <a>Happy Father's Day</a>
        </div>
        <div class="col-md-3 alignCenter">
            <p> 10/22/2016 </p>
        </div>
        <div class="col-md-3 alignCenter">
            <p>08:00AM</p>
        </div>
        <div class="col-md-2 alignCenter">
            <p>Uploaded</p>
        </div>
    </div>

    <div class="row yesMarginTop">
        <div class="col-md-4 alignCenter">
            <a>Bridging the Gap Project</a>
        </div>
        <div class="col-md-3 alignCenter">
            <p> 10/06/2016 </p>
        </div>
        <div class="col-md-3 alignCenter">
            <p>02:00PM</p>
        </div>
        <div class="col-md-2 alignCenter">
            <p>Uploaded</p>
        </div>
    </div>

    <div class="row  yesMarginTop">
        <div class="col-md-4 alignCenter">
            <a>Where's Brooklyn At ?</a>
        </div>
        <div class="col-md-3 alignCenter">
            <p> 10/06/2016 </p>
        </div>
        <div class="col-md-3 alignCenter">
            <p>09:00PM</p>
        </div>
        <div class="col-md-2 alignCenter">
            <p>In Progress</p>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>